%h2 Sign In

%br
= simple_form_for @session, url: sessions_path do |f|
  %fieldset
    %legend Welcome back
    = f.error_notification

    = f.input :email, html: {class: "span6"}
    = f.input :password, html: {class: "span6"}

    %br
    = f.button :submit, "Sign In", class: "btn-primary"
