- spec_width = 67
- story_width = 216
%table.table.table-bordered.tasks{task_table.table_properties(43, story_width, 31, spec_width)}
  %thead.table
    %tr
      %th(style="width: 43px") Id
      %th{style: "width: #{story_width}px"} Story
      %th(style="width: 31px") Pts
      %th{style: "width: #{spec_width}px"} Spec
      %th.column-divider(style="width: 0") &nbsp;
      = task_table.render_header("todo")
      %th.column-divider(style="width: 0") &nbsp;
      = task_table.render_header("in_progress")
      %th.column-divider(style="width: 0") &nbsp;
      = task_table.render_header("done")
  %tbody.table
    - task_table.each_story_and_tasks(current_account.teammate) do |taskable_story, story, tasks|
      - cache [task_table, story, taskable_story] do
        - owner = taskable_story.owner.try(:decorate) || NonTeammateDecorator.new
        %tr
          %td= story.id
          %td.story{class: owner.show_color}
            .story-command(style="width: 28px")
              %button.btn.btn-mini.edit-story(type="button")
                %i.icon-edit
            .story-content= story.description
            = form_for taskable_story,
              html: {class: "story-form"},
              data: {remote: true} do |f|
              = f.hidden_field :owner_id, id: nil
              = f.text_area :description, id: nil, class: "story-input"
          %td= story.points
          %td
            .width-container{style: "width: #{spec_width}px"}= story.link_to_spec
          - position = 0
          - %w[todo in_progress done].each do |kind|
            %td.column-divider &nbsp;
            - tasks[kind].each do |task|
              - cache [task, position, kind, taskable_story, task_table.col_width] do
                = render "tasks/task",
                          task: task,
                          position: position,
                          status: kind,
                          taskable_story: taskable_story,
                          width: task_table.col_width
              - position = 1