%td.task{style: "width: #{width}px",
         class: task.teammate.decorate.show_color,
         id: dom_id(task),
         data: {task_id: task.id,
                blank: !task.persisted?,
                taskable_story_id: taskable_story.id,
                status: status,
                teammate_id: task.teammate_id,
                position: position}}
  .task-command{style: "width: #{width - 8 * 2}px"}
    - if task.persisted?
      %button.btn.btn-mini.edit-task(type="button")
        %i.icon-edit
      %button.btn.btn-danger.btn-mini.destroy-task(type="button")
        %i.icon-minus-sign.icon-white
      - case status
      - when "todo"
        %button.btn.btn-primary.btn-mini.progress-task(type="button")
          %i.icon-fast-forward.icon-white
      - when "in_progress"
        %button.btn.btn-success.btn-mini.complete-task(type="button")
          %i.icon-ok.icon-white
      %span.move-task.pull-right
        %i.icon-move.icon-white
    - else
      %button.btn.btn-mini.add-task(type="button")
        %i.icon-plus-sign
  .task-content= task.description
  .task-hours= task.persisted? ? task.duration : ""
  = form_for [taskable_story, task], remote: true, html: {class: "task-form"} do |f|
    = hidden_field_tag "#{f.object_name}[row_order_position]", position
    = f.hidden_field :status
    = f.hidden_field :teammate_id, class: "teammate-id"
    = f.text_area :timed_description, class: "task-input"
  = form_tag [taskable_story, task], method: :delete, remote: true, class: "destroy-task-form" do
    %span
  = form_tag progress_taskable_story_task_path(taskable_story, task), remote: true, class: "progress-task-form" do
    %span
  = form_tag complete_taskable_story_task_path(taskable_story, task), remote: true, class: "complete-task-form" do
    %span
