= form_for task,
    html: {id: "create-task-form"},
    url: "/",
    data: {create: create_taskable_story_tasks_path("__taskable_story_id__"),
           replace: true} do |f|
  = hidden_field_tag "_method", "post", id: nil
  = f.hidden_field :row_order_position
  = f.hidden_field :description
  = f.hidden_field :hours
  = f.hidden_field :status
