= form_for task,
    html: {id: "create-task-form"},
    url: create_sprint_tasks_path(sprint),
    data: {replace: true} do |f|
  = hidden_field_tag "_method", "post", id: nil
  = f.hidden_field :row_order_position
  = f.hidden_field :taskable_story_id
  = f.hidden_field :description
  = f.hidden_field :hours
