%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Number
      %th From
      %th To
      %th Velocity
      %th Status
  %tbody
    %tr{class: sprint.current? ? "success" : ""}
      %td= sprint.label
      %td= sprint.start_on
      %td= sprint.end_on
      %td= sprint.projected_velocity
      %td= sprint.status
