= form_for [sprint, task],
    html: {id: "task-form"},
    data: {create: create_sprint_tasks_path(sprint),
           update: update_sprint_task_path(sprint, id: "__id__"),
           destroy: destroy_sprint_task_path(sprint, id: "__id__"),
           replace: true} do |f|
  = hidden_field_tag "_method", "post", id: nil
  = f.hidden_field :row_order_position
  = f.hidden_field :taskable_story_id
  = f.hidden_field :description
  = f.hidden_field :hours
  = f.hidden_field :status