= form_for task,
    html: {id: "task-form"},
    url: "/",
    data: {create_url: create_url, update_url: update_url, position_url: position_url, replace: true} do |f|
  = hidden_field_tag "_method", "post", id: "form_method"
  = f.hidden_field :row_order_position
  = f.hidden_field :description
  = f.hidden_field :hours
  = f.hidden_field :status
  = f.hidden_field :teammate_id
