#task-table-wrapper.preserve-scroll
  %table.table.table-bordered.tasks{task_table.table_properties(43, 216, 31, 67)}
    %thead.table
      %tr
        %th(style="width: 43px") Id
        %th(style="width: 216px") Story
        %th(style="width: 31px") Pts
        %th(style="width: 67px") Spec
        %th.column-divider(style="width: 0") &nbsp;
        = task_table.render_header("todo")
        %th.column-divider(style="width: 0") &nbsp;
        = task_table.render_header("in_progress")
        %th.column-divider(style="width: 0") &nbsp;
        = task_table.render_header("done")
    %tbody.table
      - task_table.each_story_and_tasks do |taskable_story, story, tasks|
        - cache [task_table, story, taskable_story] do
          - owner = taskable_story.owner.try(:decorate) || NonTeammateDecorator.new
          %tr
            %td= story.id
            %td{class: owner.show_color}= story.description
            %td= story.points
            %td= story.spec_link
            - position = 0
            - @kinds.each do |kind|
              %td.column-divider &nbsp;
              - tasks[kind].each do |task|
                - cache [task, position, kind, taskable_story, task_table.col_width] do
                  = render "task", task: task,
                                   position: position,
                                   status: kind,
                                   taskable_story: taskable_story,
                                   width: task_table.col_width
                - position += 1
