- spec_width = 67
#task-table-wrapper.preserve-scroll
  %table.table.table-bordered.tasks{task_table.table_properties(43, 216, 31, 67)}
    %thead.table
      %tr
        %th(style="width: 43px") Id
        %th(style="width: 216px") Story
        %th(style="width: 31px") Pts
        %th{style: "width: #{spec_width}px"} Spec
        %th.column-divider(style="width: 0") &nbsp;
        = task_table.render_header("todo")
        %th.column-divider(style="width: 0") &nbsp;
        = task_table.render_header("in_progress")
        %th.column-divider(style="width: 0") &nbsp;
        = task_table.render_header("done")
    %tbody.table
      - task_table.each_story_and_tasks do |taskable_story, story, tasks|
        - cache [task_table, story, taskable_story] do
          = render "taskable_story",
            task_table: task_table,
            taskable_story: taskable_story,
            story: story,
            tasks: tasks,
            spec_width: spec_width,
            owner: taskable_story.owner.try(:decorate) || NonTeammateDecorator.new
