= form_for task,
    html: {id: "#{kind}-task-form"},
    url: "/",
    data: {url: url, replace: true} do |f|
  = hidden_field_tag "_method", (kind == "create" ? "post" : "patch"), id: nil
  = f.hidden_field :row_order_position
  = f.hidden_field :description
  = f.hidden_field :hours
  = f.hidden_field :status
  = f.hidden_field :teammate_id
