- page_title "Sprint Tasking", size: "span4"
- page_description size: "span8" do
  = render "sprint_summary", sprint: @sprint
- page_container "container-fluid"

- content_for :javascript do
  = javascript_tag "App.initSprints({currentTeammateId: #{current_account.teammate.try(:id) || "null"}});"

%h3 Team
%p.muted Edit a story or a task and click on a teammate button below to make it the owner.
= render "teammate_selector", teammates: @teammates

%br
%br
%h3 Tasks
%p.muted Hover over a story description or a task to reveal the command buttons.
- cache @task_table do
  = render "task_table", task_table: @task_table
