- page_title "Sprint Tasking", size: "span4"
- page_description size: "span8" do
  = render "sprint_summary", sprint: @sprint
- page_container "container-fluid"

- content_for :javascript do
  = javascript_tag "App.initSprints({currentTeammateId: #{current_account.teammate.try(:id) || "null"}});"

%h3 Team
= render "teammate_selector", teammates: @teammates

%br
%br
%h3 Tasks
- cache @task_table do
  = render "task_table", task_table: @task_table
- cache ["edit", @new_task] do
  = render "task_form", task: @new_task,
                        create_url: create_taskable_story_tasks_path("__taskable_story_id__"),
                        update_url: update_taskable_story_task_path("__taskable_story_id__", "__id__")
- cache ["command", @new_task] do
  = render "command_task_form", task: @new_task
