- content_for :javascript do
  = javascript_tag "App.initSprints({});"

- cache @sprint do
  .row
    %section
      .page-header
        %h1 New Sprint
      %p
        A sprint is the basic unit of development in Scrum. The sprint is a "timeboxed" effort, i.e. it is restricted to a specific duration. The duration is fixed in advance for each sprint and is normally between one week and one month.

      = simple_form_for @sprint,
          url: create_sprints_path,
          html: {class: "form-horizontal", id: nil},
          defaults: {input_html: {class: "input-xlarge"}},
          data: {replace: true} do |f|

        - if @sprint.errors.present?
          .alert.alert-error
            %button.close(type="button" data-dismiss="alert") &times;
            %strong Can't create sprint.
            Please fix the errors below.

        .span7
          - cache @stories do
            = render "stories/list_summary", stories: @stories

        .span5
          = f.input :projected_velocity, wrapper: :append do
            = f.input_field :projected_velocity, disabled: true, class: "input-small"
            = content_tag :span, class: "add-on" do
              = content_tag :i, nil, class: "icon-tasks"
          = render "datepicker", f: f, name: :start_on
          = render "datepicker", f: f, name: :end_on

        .span12
          .form-actions
            = f.button :submit, class: "btn-primary"
            or
            = link_to "Cancel", stories_path, class: "btn", data: {push: true}
