.modal.hide.fade{id: id, tabindex: -1, role: "dialog"}
  = simple_form_for teammate,
      url: create_teammates_path(teammate),
      html: {class: "form-horizontal", id: nil},
      defaults: {input_html: {class: "input-xlarge"}},
      data: {replace: true} do |f|
    = hidden_field_tag "_method", "post", id: nil
    .modal-header
      = link_to "x", teammates_path, class: "close"
      %h3.title New teammate
    .modal-body
      - if teammate.errors.present?
        .alert.alert-error
          %button.close(type="button" data-dismiss="alert") &times;
          %strong
            Can't
            = teammate.persisted? ? "update" : "create"
            teammate.
          Please fix the errors below.
      = f.input :name
      = f.input :initials
      = f.input :roles, as: :check_boxes, collection: Teammate::ROLES
      = f.input :color, as: :select, collection: Teammate::COLORS
      = f.association :account, collection: @team.accounts, label_method: :email
    .modal-footer
      = link_to "Cancel", teammates_path, class: "btn"
      = f.button :submit, class: "btn-primary"