= simple_form_for teammate,
    url: teammate.path,
    method: teammate.method,
    html: {class: "form-horizontal"},
    defaults: {input_html: {class: "input-xlarge"}},
    data: {remote: true} do |f|
  = f.hidden_field :teammate_id
  .modal-header
    = link_to "x", teammates_path, class: "close"
    %h3.title= title
  .modal-body
    - if teammate.errors.present?
      .alert.alert-error
        %button.close(type="button" data-dismiss="alert") &times;
        %strong
          Can't
          = teammate.persisted? ? "update" : "create"
          teammate.
        Please fix the errors below.
    = f.input :name
    = f.input :roles, as: :check_boxes, collection: Teammate::ROLES
    = f.input :email, as: :email, disabled: teammate.email.present?
    = f.input :color, as: :select, collection: Teammate::COLORS
    = f.input :initials
  .modal-footer
    = link_to "Cancel", teammates_path, class: "btn cancel"
    = f.button :submit, class: "btn-primary"
