- page_title "Teammates"
- page_description do
  %p Manage the list of teammates to use.
  %p
    %a.btn.btn-primary#new-teammate-button(href) Create teammate

- content_for :javascript do
  = javascript_tag "App.initTeammates({newAttributes: #{@new_teammate.to_json}});"

- cache @teammates do
  - if @teammates.empty?
    %table.table.table-bordered
      %tbody.table
        %tr
          %td
            %p
              There are no teammates yet.
  - else
    %table.table.table-stripped.table-hover.hidden-commands
      %thead.table
        %tr
          %th Name
          %th Roles
          %th Account
          %th Updated
      %tbody.table
        - @teammates.each.with_index do |teammate, index|
          - cache [teammate, index] do
            %tr
              %td<
                = render "edit_button", target: teammate, position: index
                = teammate.name
                (
                = teammate.initials
                )
              %td= teammate.roles.join(", ")
              %td= teammate.account && teammate.account.email
              %td= time_tag teammate.updated_at

  = render "editor", id: "new-teammate-editor", teammate: @new_teammate

- if @teammate.present?
  - cache @teammate do
    = render "editor", id: "show-now", teammate: @teammate
