.command.btn-group{:"data-content" => target.to_json, :"data-position" => position}
  = link_to edit_story_path(target), class: "btn btn-mini" do
    %i.icon-pencil
  %button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to edit_story_path(target) do
        %i.icon-pencil
        Edit Story
    %li
      = link_to new_story_path(row_order_position: position) do
        %i.icon-arrow-up
        Add New Story Above
    %li
      = link_to new_story_path(row_order_position: position + 1) do
        %i.icon-arrow-down
        Add New Story Below
    %li.divider
    %li
      = link_to update_position_story_path(target, position: :first), method: :post, data: {remote: true} do
        %i.icon-circle-arrow-up
        Move to TOP
    %li
      = link_to update_position_story_path(target, position: :middle), method: :post, data: {remote: true} do
        %i.icon-circle-arrow-right
        Move to MIDDLE
    %li
      = link_to update_position_story_path(target, position: :last), method: :post, data: {remote: true} do
        %i.icon-circle-arrow-down
        Move to BOTTOM
    %li.divider
    %li
      = link_to target, method: :delete, data: {remote: true} do
        %i.icon-minus-sign
        Delete Story
