%tr.story-row{:"data-id" => story.id,
              :"data-position" => index,
              :"data-position-url" => update_position_story_path(story),
              :id => dom_id(story)}
  %td
    %div(style="display: none")
      = form_tag update_position_story_path(story),
                 method: :post,
                 data: {replace: true} do
        = hidden_field_tag :position, nil, id: nil
    = render "edit_button", target: story, position: index
    = story.id
  %td= story.product_manager_name
  %td= story.tech_lead_name
  %td= story.business_driver
  %td= story.description
  %td= story.badged_points
  %td= story.spec_link
