= simple_form_for story,
    html: {class: "form-horizontal"},
    defaults: {input_html: {class: "input-xlarge"}},
    data: {remote: true} do |f|
  = f.hidden_field :row_order_position
  .modal-header
    = link_to "x", stories_path, class: "close"
    %h3.title= title
  .modal-body
    - if story.errors.present?
      .alert.alert-error
        %button.close(type="button" data-dismiss="alert") &times;
        %strong
          Can't
          = story.persisted? ? "update" : "create"
          story.
        Please fix the errors below.
    = f.input :description, input_html: {rows: 5}
    .control-group.radio_buttons.required
      = f.label :points
      .controls
        = f.hidden_field :points
        .point-selector.btn-group(data-toggle="buttons-radio")
          - Story::VALID_POINTS.each do |value|
            %button.btn{type: "button", :"data-value" => value}= value
    = f.association :tech_lead, collection: @team.teammates.tech_leads
    = f.association :product_manager, collection: @team.teammates.product_managers
    = f.input :business_driver
    = f.input :spec_link, as: :url
  .modal-footer
    = link_to "Cancel", stories_path, class: "btn cancel"
    = f.button :submit, class: "btn-primary"
