%tr.story-row{:"data-id" => story.id, :"data-position" => index}
  %td
    = render "edit_button", target: story, position: index
    = story.id
  %td= story.product_manager_name
  %td= story.tech_lead_name
  %td= story.business_driver
  %td= story.description
  %td= story.points
  %td= story.spec_link
