- content_for :javascript do
  = javascript_tag "App.stories.init({newStory: #{@new_story.to_json}});"

%h2 Product Backlog
%p The ordered list of "requirements" that is maintained for your product.
%table.table.table-bordered.table-stripped
  %colgroup
    %col.span1
    %col.span1
    %col.span1
    %col.span1
    %col.span1
    %col.span1
    %col.span1
  %thead.table
    %tr
      %th Tech lead
      %th Product manager
      %th Id
      %th Business driver
      %th User story
      %th Story points
      %th Spec
  %tbody.table#stories-table-body
    - if @stories.empty?
      %tr#elem-no-story-row
        %td(colspan="7")
          There are not stories yet -
          %a.btn.btn-mini.btn-primary#new-story-button(href) Create first story

#edit-story-modal.modal.hide.fade(tabindex="-1" role="dialog" aria-labelledby="edit-story-label" aria-hidden="true")
  .modal-header
    %button.close(type="button" data-dismiss="modal" aria-hidden="true") x
    %h3#edit-story-label New user story
  .modal-body
    = simple_form_for @new_story,
        html: {class: "form-horizontal"},
        defaults: {input_html: {class: "input-xlarge"}} do |f|
      = f.input :description, input_html: {rows: 5}
      .control-group.radio_buttons.required
        = f.label :points
        .controls
          = f.hidden_field :points
          #point-selector.btn-group(data-toggle="buttons-radio")
            - [0, 1, 2, 3, 5, 8, 13].each do |value|
              %button.btn{type: "button", :"data-value" => value}= value
      = f.association :tech_lead
      = f.association :product_manager
      = f.input :business_driver
      = f.input :spec_link
  .modal-footer
    %button.btn(data-dismiss="modal" aria-hidden="true") Cancel
    %button.btn.btn-primary Save changes
