- content_for :javascript do
  = javascript_tag "App.initStories({newAttributes: #{@new_story.to_json}});"
- cache @stories do
  %h2 Product Backlog
  %p The ordered list of "requirements" that is maintained for your product.

  - if @stories.empty?
    %table.table.table-bordered
      %tbody.table
        %tr
          %td
            %p
              There are no stories in the backlog yet.
              &nbsp;
              %a.btn.btn-primary.new-story-button(href) Create first story
  - else
    %p
      You can mouse over a story to reveal a story management button or &nbsp;
      %a.btn.btn-mini.btn-primary.new-story-button(href)> Create a story
      \.
    %table.table.table-stripped.table-hover.hidden-commands
      %colgroup
        %col(width="30px")
        %col(span="2" width="75px")
        %col(width="60px")
        %col(width="300px")
        %col(width="30px")
        %col(width="150px")
      %thead.table
        %tr
          %th Id
          %th Tech lead
          %th PM
          %th Driver
          %th User story
          %th Points
          %th Spec
      %tbody.table
        - @stories.each.with_index do |story, index|
          - cache story do
            = render "story_row", story: story, index: index
          - if @velocity.index == index + 1
            %tr.error
              %td &nbsp;
              %td(colspan="4")
                %strong This is where we wish the line to be:
              %td
                %strong= @velocity.sum
              %td
                = form_tag update_velocity_stories_path, class: "form-inline-row" do
                  = text_field_tag :velocity, @velocity.value, class: "input-micro"
                  = submit_tag "Update", class: "btn btn-small btn-inverse"
  = render "editor", id: "new-story-editor", story: @new_story

- if @story.present?
  - cache @story do
    = render "editor", id: "show-now", story: @story
