.navbar.navbar-fixed-top
  .navbar-inner
    .container
      - brand_path = current_account ? stories_path : root_path
      = link_to "Tasking", brand_path, class: "brand"
      .nav-collapse.collapse
        %ul.nav
          %li.divider-vertical
          - if current_account
            = render "layouts/nav_link", label: "Backlog", url: stories_path
            %li.divider-vertical
            = render "layouts/dropdown_menu", label: "Sprints", active: "sprints",
              entries: [{label: "Current",  url: edit_sprint_path(:current)},
                        {divider: true},
                        {label: "Upcoming", url: edit_sprint_path(:next)},
                        {label: "Last", url: edit_sprint_path(:last)},
                        {divider: true},
                        {label: "All sprints",  url: sprints_path}]
            - if can? :update, Teammate
              %li.divider-vertical
              = render "layouts/nav_link", label: "Teammates", url: teammates_path
            %li.divider-vertical
            = render "layouts/dropdown_menu", label: current_account.email,
              entries: [{label: "My Account", url: edit_account_path(current_account)},
                        {divider: true},
                        {label: "Sign Out", url: sign_out_path}]
          - else
            = render "layouts/nav_link", label: "Sign Up", url: sign_up_path
            %li.divider-vertical
            = render "layouts/nav_link", label: "Sign In", url: sign_in_path
