!!!
%html
  %head
    %title Tasking
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .nav-collapse.collapse
            %ul.nav
              = nav_link "Home", root_path
              = nav_link "Sign Up", new_account_path
              = nav_link "Sign In", new_session_path
    %header.title
      .container
        .row
          .span3
            %h1 Tasking
          .span9
            %p.lead
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.

    .container
      %br

      = notice_message

      = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
