!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body#body.preserve-scroll{:"data-update-session" => update_session}
    = render "layouts/navigation_bar"
    %header.title
      .summary-bar.container
        .row
          %div{page_width(:title)}
            %h1= page_title
          #page-description{page_width(:description)}
            = flash_messages
            = yield(:page_description)

    .main-content{page_container}
      %br
      #main
        = yield
        = yield :javascript
