- wiselinks_title page_title
%body
  = render "layouts/navigation_bar"
  %header.title
    .container
      .row
        .span4
          %h1= page_title
        .span8= yield(:page_description)

  %div{:class => layout_type}
    %br

    = notice_message

    = yield

  = yield :javascript
