%h2 Sign Up

%br
= simple_form_for @account, defaults: {input_html: {autocomplete: "off"}} do |f|
  %fieldset
    %legend Fill up below to sign up
    = f.error_notification

    = f.simple_fields_for :team_attributes do |team_f|
      = team_f.input :name, label: "Team name"
    = f.input :email, html: {class: "span6"}
    = f.input :password, html: {class: "span6"}

    %br
    = f.button :submit, "Sign Up", class: "btn-primary"
