- page_title "Sign Up"
- content_for :javascript do
  = javascript_tag "App.signup.setup();"

%br
= simple_form_for @account, defaults: {input_html: {autocomplete: "off"}} do |f|
  %fieldset
    %legend Enter your email and your team name to sign up
    %p
      You will received an email to activate your account and choose a password
      so you can sign in later on.
    = f.error_notification

    = f.input :email
    = f.simple_fields_for @account.errors_on_team? ? :team : :team_attributes do |team_f|
      = team_f.input :name, label: "Team name"

    %br
    = f.button :submit, "Sign Up", class: "btn-primary"
