%h1 Sign Up
= simple_form_for @account do |f|
  = f.error_notification

  .inputs
    = f.input :email
    = f.input :password
    = f.input :password_confirmation

  .actions
    = f.button :submit, "Sign Up"
